#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tab-menu {
    display: flex;
    justify-content: center;
    gap: 24px;
}

li {
    list-style-type: none;
}

#headline {
    display: flex;
    gap: 24px;
}

img {
    height: 64px;
    width: 64px;
}

#restaurant-menu li:nth-child(odd) {
    font-weight: bold;
}

#restaurant-menu li:nth-child(even) {
    margin-bottom: 12px;
}